TextField {
  background-color: var(--bg-primary-color);
  border-radius: 5;
  border-width: 0;
  padding: 0 10;
  color: var(--text-secondary-color);
  placeholder-color: var(--text-tertiary-color);
  font-size: 14;
  font-weight: bold;
}
