ActionBar {
  background-color: var(--bg-secondary-color);
  color: var(--text-primary-color);
}

.container {
  --indent: 10;
  background-color: var(--bg-primary-color);

  .items {
    height: 100%;
    width: 100%;

    > GridLayout {
      padding: 0 var(--indent);
      margin: var(--indent) 0;
    }
  }

  .input {
    height: 100%;
    padding: 0 var(--indent) var(--indent);
  }
}
