<ActionBar title="ToDoApp"></ActionBar>

<DockLayout class="container">
  <GridLayout dock="bottom" class="input">
    <InputText
      height="100%"
      hint="Enter yout task..."
      (returnPress)="addItem($event)"
    ></InputText>
  </GridLayout>

  <ScrollView #itemsScrollView class="items">
    <GridLayout>
      <ToDoItems
        [items]="items"
        (onToggle)="toggleItem($event)"
        (onDelete)="deleteItem($event)"
      ></ToDoItems>
    </GridLayout>
  </ScrollView>
</DockLayout>
