ActionBar {
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
}

.container {
  --indent: 10;
  background-color: var(--bg-primary-color);

  .items {
    > GridLayout {
      padding: var(--indent);
    }
  }

  .input {
    background-color: var(--bg-secondary-color);
    height: 60;
    padding: var(--indent);
  }
}
