@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";

.ns-root {
  --bg-primary-color: #393e46;
  --bg-secondary-color: #5b636e;
  --bg-accent-color: #9e8441;

  --text-primary-color: #5b636e;
  --text-secondary-color: #f1faee;
  --text-tertiary-color: #b8b8b8;
}
