.item {
  align-items: center;
  background-color: var(--bg-accent-color);
  border-radius: 5;
  border-width: 0;
  padding: 5 10;
  width: 100%;

  Label {
    color: var(--text-secondary-color);
    font-size: 14;
    font-weight: bold;
    white-space: normal;
  }

  &--done {
    opacity: 0.7;

    Label {
      color: var(--text-primary-color);
    }
  }
}
