.item {
  align-items: center;
  background-color: var(--bg-secondary-color);
  border-radius: 5;
  border-width: 0;
  padding: 0 10;
  height: 40;
  width: 100%;

  Label {
    color: var(--text-primary-color);
    font-size: 14;
    font-weight: bold;
  }

  &--done {
    Label {
      color: var(--text-secondary-color);
      text-decoration: line-through;
    }
  }
}
